<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>404 Not Found - Leon</title>
        <script src="{{ url_for('static', filename='assets/js/vendors/color-modes.js') }}"></script>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/imgs/template/favicon-gradient.svg') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendors/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendors/swiper-bundle.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendors/aos.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendors/odometer.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendors/carouselTicker.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendors/magnific-popup.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/remixicon/remixicon.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/satoshi/satoshi.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Playfair+Display:wght@400..900&family=Urbanist:wght@100..900&display=swap" rel="stylesheet" crossorigin />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>
    <body class="home-page-2">
        <div id="preloader">
            <div class="loader-cover">
                <div class="loader-container">
                    <div class="loader-icon-2"></div>
                </div>
            </div>
        </div>
        <header>
            <div class="container position-relative">
                <div class="position-relative">
                    <nav class="navbar navbar-expand-lg navbar-home-2 flex-nowrap z-999 p-0 border border-1 rounded-3">
                        <a href="/" class="navbar-menu p-4 text-center square-100 menu-tigger icon_80 icon-shape d-none d-md-flex" data-bs-target=".offCanvas__info" aria-controls="offCanvas__info">
                            <i class="ri-menu-2-line"></i>
                        </a>
                        <div class="container py-3 px-4">
                            <a class="navbar-brand d-flex main-logo align-items-center" href="/">
                                <img src="{{ url_for('static', filename='assets/imgs/home-page-2/template/favicon.svg') }}" alt="leon motaung" />
                                <span class="fs-4 ms-2">Leon.dev</span>
                            </a>
                            <div class="d-none d-lg-flex">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/">Home</a>
                                        </li>
                                        </ul>
                                </div>
                            </div>
                            <div class="navbar-social d-flex align-items-center pe-5 pe-lg-0 me-5 me-lg-0">
                                <div class="d-md-flex d-none gap-3">
                                    <a href="https://www.linkedin.com/in/leonmotaung/">
                                        <i class="ri-linkedin-fill fs-18"></i>
                                    </a>
                                    <a href="https://github.com/LeonMotaung/">
                                        <i class="ri-github-fill fs-18"></i>
                                    </a>
                                </div>
                                <div class="burger-icon burger-icon-white border rounded-3">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                            <div class="dark-light-switcher pe-10 pe-lg-0 pe-0 ps-md-5 ps-0 ps-lg-4 pe-lg-4 d-flex justify-content-center align-items-center icon_80 @@classList">
                                <i class="ri-sun-fill text-warning"></i>
                                <i class="ri-contrast-2-line text-white"></i>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="offCanvas__info style-2">
                    <div class="offCanvas__close-icon menu-close">
                        <button><i class="ri-close-line"></i></button>
                    </div>
                    <div class="offCanvas__logo mb-5"><h3 class="mb-0">Get in touch</h3></div>
                    <div class="offCanvas__side-info mb-30">
                        <div class="contact-list mb-30">
                            <p class="fs-6 fw-medium text-200 mb-5">As a full-stack developer, I thrive on tackling new challenges and bringing ideas to life. I’m always excited to take on projects that push the boundaries of innovation and collaborate with like-minded, creative individuals.</p>
                            <div class="mb-3">
                                <span class="text-400 fs-5">Phone Number</span>
                                <p class="mb-0">+27 84 866 2418</p>
                            </div>
                            <div class="mb-3">
                                <span class="text-400 fs-5">Email</span>
                                <p class="mb-0">motaungleon@gmail.com</p>
                            </div>
                            <div class="mb-3">
                                <span class="text-400 fs-5">Linkedin</span>
                                <p class="mb-0">Leon Motaung</p>
                            </div>
                            <div class="mb-3">
                                <span class="text-400 fs-5">Address</span>
                                <p class="mb-0">12 Vermeer street, Bellville, Cape Town, 7530</p>
                            </div>
                        </div>
                        <div class="contact-list">
                            <p class="text-400 fs-5 mb-2">Social</p>
                            <div class="d-md-flex d-none gap-3">
                                <a href="https://www.linkedin.com/in/leonmotaung/">
                                    <i class="ri-linkedin-fill fs-18"></i>
                                </a>
                                <a href="https://github.com/LeonMotaung/">
                                    <i class="ri-github-fill fs-18"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offCanvas__overly"></div>
                <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
                    <div class="mobile-header-wrapper-inner">
                        <div class="mobile-header-logo">
                            <a class="d-flex main-logo align-items-center d-inline-flex" href="/">
                                <img src="{{ url_for('static', filename='assets/imgs/home-page-2/template/favicon.svg') }}" alt="leon motaung" />
                                <span class="fs-4 ms-2 text-dark">leon.dev</span>
                            </a>
                            <div class="burger-icon burger-icon-white border rounded-3">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                        <div class="mobile-header-content-area">
                            <div class="perfect-scroll">
                                <div class="mobile-menu-wrap mobile-header-border">
                                    <nav>
                                        <ul class="mobile-menu font-heading ps-0">
                                            <li class="nav-item has-children">
                                                <a class="nav-link active" href="/">Home</a>
                                            </li>
                                            </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="section-error-404 position-relative pt-130 pb-130">
                <div class="container hero-2">
                    <div class="border border-1 rounded-3 text-center py-100 px-3">
                        <div class="box-linear-animation position-relative z-1">
                            <h1 class="display-1 fw-bold text-linear-4 mb-4">404</h1>
                            <h2 class="fw-medium mb-3">Whoops! Page Not Found</h2>
                            <p class="fs-5 text-300 mb-5">
                                We're sorry, but the page you requested could not be found.<br class="d-none d-md-block"> It looks like the link is broken or the page has been moved.
                            </p>
                            <a href="/" class="btn btn-lg btn-outline-primary-2 text-300">
                                <i class="ri-arrow-left-line me-2"></i>
                                Go Back to Homepage
                            </a>
                        </div>
                    </div>
                    <div class="background position-absolute top-0 start-0 w-100 h-100">
                        <img class="bg-w" src="{{ url_for('static', filename='assets/imgs/home-page-2/hero-1/bg.png') }}" alt="background" />
                        <img class="bg-d" src="{{ url_for('static', filename='assets/imgs/home-page-2/hero-1/bg-dark.png') }}" alt="background" />
                    </div>
                </div>
            </section>
        </main>
        
        <script src="{{ url_for('static', filename='assets/js/vendors/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendors/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendors/swiper-bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendors/magnific-popup.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendors/counterup.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendors/odometer.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendors/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendors/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendors/aos.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/vendors/carouselTicker.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    </body>
</html>